<template>
  <div id="app">
    <h2>Sentry Webhook Callback URL</h2>
    <div class="mdl-chip">
      <span class="mdl-chip__text webhook-url">{{webhookUrl}}</span>
    </div>
    <h2>Backlog Space Infomation</h2>
    <div>
      <ul class="mdl-list">
        <li class="mdl-list__item">
          <span class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input
                class="mdl-textfield__input"
                type="text"
                id="space-key"
                v-model="spaceKey">
            <label class="mdl-textfield__label" for="space-key">Space Key</label>
          </span>
        </li>
        <li class="mdl-list__item">
          <span class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input
                class="mdl-textfield__input"
                type="text"
                id="api-key"
                v-model="apiKey">
            <label class="mdl-textfield__label" for="api-key">Api Key</label>
          </span>
        </li>
      </ul>
      <button
          class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
          :disabled="!enableGetProjects"
          @click="getProjects(spaceKey, apiKey)">
        Get Projects
      </button>
    </div>
    <h2>Backlog Projects</h2>
    <div class="projects">
      <ul class="mdl-list">
        <li class="mdl-list__item" v-for="project in projects">
          <label
              class="mdl-radio mdl-js-radio mdl-js-ripple-effect"
              v-mdl
              v-bind:for="project.projectKey">
            <input
                name="project"
                type="radio"
                class="mdl-radio__button"
                v-bind:value="project.projectKey"
                v-bind:id="project.projectKey"
                v-model="selectedProjectKey"
                @click="selectProject(selectedProjectKey)">
            <span class="mdl-radio__label">
              {{project.name}} ({{project.projectKey}})
            </span>
          </label>
        </li>
      </ul>
      <h3>Issue Type</h3>
      <div class="issue-type">
        <ul class="mdl-list">
          <li class="mdl-list__item" v-for="issueType in issueTypes">
            <label
                class="mdl-radio mdl-js-radio mdl-js-ripple-effect"
                v-mdl
                v-bind:for="`issue-type-${issueType.id}`">
              <input
                  name="issue-type"
                  type="radio"
                  class="mdl-radio__button"
                  v-bind:value="issueType.id"
                  v-bind:id="`issue-type-${issueType.id}`"
                  v-model="selectedIssueTypeId">
              <span class="mdl-radio__label">
                {{issueType.name}}
              </span>
            </label>
          </li>
        </ul>
      </div>
      <h3>Priority</h3>
      <div class="priority">
        <ul class="mdl-list">
          <li class="mdl-list__item" v-for="priority in priorities">
            <label
                class="mdl-radio mdl-js-radio mdl-js-ripple-effect"
                v-mdl
                v-bind:for="`priority-${priority.id}`">
              <input
                  name="priority"
                  type="radio"
                  class="mdl-radio__button"
                  v-bind:value="priority.id"
                  v-bind:id="`priority-${priority.id}`"
                  v-model="selectedPriorityId">
              <span class="mdl-radio__label">
                {{priority.name}}
              </span>
            </label>
          </li>
        </ul>
      </div>
      <h3>Category</h3>
      <div class="category">
        <ul class="mdl-list">
          <li class="mdl-list__item" v-for="category in categories">
            <label
                class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect"
                v-mdl
                v-bind:for="`category-${category.id}`">
              <input
                  name="category"
                  type="checkbox"
                  class="mdl-checkbox__input"
                  v-bind:value="category.id"
                  v-bind:id="`category-${category.id}`"
                  v-model="selectedCategoryIds">
              <span class="mdl-checkbox__label">
                {{category.name}}
              </span>
            </label>
          </li>
        </ul>
      </div>
      <h3>Notified User</h3>
      <div class="motified-user">
        <ul class="mdl-list">
          <li class="mdl-list__item" v-for="user in users">
            <label
                class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect"
                v-mdl
                v-bind:for="`notified-user-${user.id}`">
              <input
                  name="notified-user"
                  type="checkbox"
                  class="mdl-checkbox__input"
                  v-bind:value="user.id"
                  v-bind:id="`notified-user-${user.id}`"
                  v-model="notifiedUserIds">
              <span class="mdl-checkbox__label">
                {{user.name}}
              </span>
            </label>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

const SERVER = `${location.protocol}//${location.host}`

console.log({SERVER})

export default {
  data () {
    return {
      validSpaceApiKey: null,
      spaceKey: '',
      apiKey: '',
      projects: [],
      selectedProjectKey: '',
      issueTypes: [],
      selectedIssueTypeId: '',
      priorities: [],
      selectedPriorityId: '',
      categories: [],
      selectedCategoryIds: [],
      users: [],
      notifiedUserIds: []
    }
  },
  computed: {
    enableGetProjects () {
      return Boolean(this.spaceKey && this.apiKey)
    },
    webhookUrl () {
      let spaceKey = this.spaceKey || ''
      let projectKey = this.selectedProjectKey || ''
      let apiKey = this.apiKey || ''
      let issueTypeId = this.selectedIssueTypeId || ''
      let priorityId = this.selectedPriorityId || ''

      let url = `${SERVER}/api/${spaceKey}/${projectKey}/issue?api_key=${apiKey}&issue_type_id=${issueTypeId}&priority_id=${priorityId}`

      this.selectedCategoryIds.map(id => {
        url += `&category_ids=${id}`
      })
      this.notifiedUserIds.map(id => {
        url += `&notified_user_ids=${id}`
      })
      return url
    }
  },
  methods: {
    getProjects (spaceKey, apiKey) {
      console.log(['getProjects', {spaceKey, apiKey}])
      let url = `${SERVER}/api/${spaceKey}?api_key=${apiKey}`
      axios.get(url).then(res => {
        console.log({'getProjects result': res.data.result})
        if (res.data.result) {
          this.setProjects(res.data.projects)
        }
        else {
          this.clearProjects()
        }
      })
    },
    setProjects (projects) {
      console.log(['setProjects', {projects}])
      this.validSpaceApiKey = true
      this.projects = projects
      this.selectedProjectKey = ''

      this.clearIssueTypes()
      this.clearPriorities()
      this.clearCategories()
      this.clearNotifiedUsers()
    },
    clearProjects () {
      console.log(['clearProjects'])
      this.validSpaceApiKey = false
      this.projects = []

      this.clearIssueTypes()
      this.clearPriorities()
      this.clearCategories()
      this.clearNotifiedUsers()
    },
    selectProject (selectedProjectKey) {
      console.log(['selectProject', {selectedProjectKey}])
      this.getIssueTypes(this.spaceKey, selectedProjectKey, this.apiKey)
      this.getPriorities(this.spaceKey, this.apiKey)
      this.getCategories(this.spaceKey, selectedProjectKey, this.apiKey)
      this.getUsers(this.spaceKey, selectedProjectKey, this.apiKey)
    },
    getIssueTypes (spaceKey, projectKey, apiKey) {
      console.log(['getIssueTypes', {spaceKey, projectKey, apiKey}])
      let url = `${SERVER}/api/${spaceKey}/${projectKey}/issuetype?api_key=${apiKey}`
      axios.get(url).then(res => {
        console.log({'getIssueTypes result': res.data.result})
        if (res.data.result) {
          this.setIssueTypes(res.data.issueTypes)
        }
        else {
          this.clearIssueTypes()
        }
      })
    },
    setIssueTypes (issueTypes) {
      console.log(['setIssueTypes', {issueTypes}])
      this.issueTypes = issueTypes
      this.selectedIssueTypeId = ''
    },
    clearIssueTypes () {
      console.log(['clearIssueTypes'])
      this.issueTypes = []
      this.selectedIssueTypeId = ''
   },
    getPriorities (spaceKey, apiKey) {
      console.log(['getPriorities', {spaceKey, apiKey}])
      let url = `${SERVER}/api/${spaceKey}/priority?api_key=${apiKey}`
      axios.get(url).then(res => {
        console.log({'getPriorities result': res.data.result})
        if (res.data.result) {
          this.setPriorities(res.data.priorities)
        }
        else {
          this.clearPriorities()
        }
      })
    },
    setPriorities (priorities) {
      console.log(['setPriorities', {priorities}])
      this.priorities = priorities
      this.selectedPriorityId = ''
    },
    clearPriorities () {
      console.log(['clearPriorities'])
      this.priorities = []
      this.selectedPriorityId = ''
    },
    getCategories (spaceKey, projectKey, apiKey) {
      console.log(['getCategories', {spaceKey, projectKey, apiKey}])
      let url = `${SERVER}/api/${spaceKey}/${projectKey}/category?api_key=${apiKey}`
      axios.get(url).then(res => {
        console.log({'getCategories result': res.data.result})
        if (res.data.result) {
          this.setCategories(res.data.categories)
        }
        else {
          this.clearCategories()
        }
      })
    },
    setCategories (categories) {
      console.log(['setCategories', {categories}])
      this.categories = categories
      this.selectedCategoryIds = []
    },
    clearCategories () {
      console.log(['clearCategories'])
      this.categories = []
      this.selectedCategoryIds = []
    },
    getUsers (spaceKey, projectKey, apiKey) {
      console.log(['getUsers', {spaceKey, projectKey, apiKey}])
      let url = `${SERVER}/api/${spaceKey}/${projectKey}/user?api_key=${apiKey}`
      axios.get(url).then(res => {
        console.log({'getUsers result': res.data.result})
        if (res.data.result) {
          this.setUsers(res.data.users)
        }
        else {
          this.clearUsers()
        }
      })
    },
    setUsers (users) {
      console.log(['setUsers', {users}])
      this.users = users
      this.notifiedUserIds = []
    },
    clearNotifiedUsers () {
      console.log(['clearUsers'])
      this.users = []
      this.notifiedUserIds = []
    }
  }
}
</script>

